[tools]
node = "22"
go = "1.22"
ripgrep = "latest"
fzf = "latest"
bat = "latest"
eza = "latest"
zoxide = "latest"
gh = "latest"
git = "latest"
lazygit = "latest"
"npm:ccusage" = "latest"
tmux = "latest"
{{ if eq .chezmoi.os "linux" -}}
fd = "latest"
delta = "latest"
{{ end -}}
